{
    "info": {
        "title": "DevZone",
        "version": "1.0",
        "description": "Where you can find api documentation for all operational services."
    },
    "host": "site.com",
    "schemes": [
        "http",
        "https"
    ],
    "basePath": "/api",
    "swagger": "2.0",
    "paths": {
        "/projects": {
            "get": {
                "description": "Returns all projects.",
                "responses": {
                    "200": {
                        "schema": {
                            "example": [
                                {
                                    "id": 1,
                                    "arm": "זרוע היבשה",
                                    "name": "שם הפרויקט",
                                    "img": "site/api/object-storage/id/pic.png",
                                    "description": "מידע על הפרויקט ",
                                    "views": 3,
                                    "tags": [
                                        1,
                                        2,
                                        3
                                    ],
                                    "numberOfServices": 3
                                }
                            ]
                        },
                        "description": "got projects"
                    }
                }
            },
            "post": {
                "description": "creates project .",
                "parameters": [
                    {
                        "name": "Api Parameters",
                        "description": "the parameters in the body of the request.",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "arm": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "img": {
                                    "type": "string"
                                },
                                "contacts": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "Id": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "name": {
                                    "type": "string"
                                },
                                "permission": {
                                    "type": "boolean"
                                },
                                "tags": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "example": {
                                "projects": {
                                    "arm": "זרוע המקצוענים",
                                    "name": "שם הפרויקט",
                                    "img": "site/api/object-storage/id/pic.png",
                                    "id": 1,
                                    "description": "מידע על הפרויקט ",
                                    "contacts": [
                                        {
                                            "first_name": "שם פרטי",
                                            "id": "k943787263",
                                            "last_name": "שם משפחה",
                                            "email": "something@something.com",
                                            "chatUrl": "url"
                                        }
                                    ],
                                    "permission": false,
                                    "tags": [
                                        1,
                                        2,
                                        3
                                    ],
                                    "graphql": "null||url",
                                    "swagger": "null||url",
                                    "services": [
                                        {
                                            "name": "שם שירות",
                                            "last_updated": "string",
                                            "serviceImg": "site/api/object-storage/serviceId/pic.png",
                                            "serviceId": 1,
                                            "description": "מידע על הסרביס ",
                                            "contacts": {
                                                "devTeam": {
                                                    "militaryPhone": "0522236663",
                                                    "civilainPhone": "0522236663"
                                                },
                                                "warRoomTeam": {
                                                    "militaryPhone": "0522236663",
                                                    "civilainPhone": "0522236663"
                                                },
                                                "serviceSupervisor": {
                                                    "serviceSupervisorRole": "מנהל מוצר",
                                                    "id": "t2364616",
                                                    "phone": "0522236663"
                                                },
                                                "chatUrl": "url"
                                            },
                                            "tags": [
                                                1,
                                                2,
                                                3
                                            ],
                                            "graphql": "null||url",
                                            "swagger": "null||url",
                                            "request_protocol": "B2B",
                                            "release_notes": "תוכן של מה חדש",
                                            "views": 3,
                                            "load_rate": 2000,
                                            "files": {
                                                "category": "file||img||video",
                                                "display_name": "שם הקובץ",
                                                "id": 123,
                                                "path": "hash",
                                                "fileDescription": "זה קובץ"
                                            },
                                            "reviews": {
                                                "apiID": 111,
                                                "content": "תוכן הביקורת",
                                                "date": "תאריך",
                                                "first_name": "שם פרטי",
                                                "id": 12,
                                                "last_name": "שם משפחה",
                                                "rate": 5,
                                                "userId": "xxxxxxxxx"
                                            },
                                            "guide_steps": [
                                                {
                                                    "stepTitle": "סטייג'",
                                                    "content": "תוכן",
                                                    "picture": "hash של תמונה"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        },
                        "description": "project created successfully ."
                    }
                }
            }
        },
        "/projects/:id": {
            "get": {
                "description": "Returns a project.",
                "responses": {
                    "200": {
                        "schema": {
                            "example": {
                                "arm": "זרוע היבשה",
                                "id": 1,
                                "name": "שם הפרויקט",
                                "img": "site/api/object-storage/id/pic.png",
                                "description": "מידע על הפרויקט ",
                                "tags": [
                                    1,
                                    2,
                                    3
                                ],
                                "contacts": [
                                    {
                                        "first_name": "שם פרטי",
                                        "id": "k943787263",
                                        "last_name": "שם משפחה",
                                        "email": "something@something.com",
                                        "chatUrl": "url"
                                    }
                                ],
                                "services": [
                                    {
                                        "name": "שם שירות",
                                        "last_updated": "string",
                                        "serviceImg": "site/api/object-storage/serviceId/pic.png",
                                        "serviceId": 1,
                                        "description": "מידע על הסרביס ",
                                        "contacts": {
                                            "devTeam": {
                                                "militaryPhone": "0522236663",
                                                "civilainPhone": "0522236663"
                                            },
                                            "warRoomTeam": {
                                                "militaryPhone": "0522236663",
                                                "civilainPhone": "0522236663"
                                            },
                                            "serviceSupervisor": {
                                                "serviceSupervisorRole": "מנהל מוצר",
                                                "id": "t2364616",
                                                "phone": "0522236663"
                                            },
                                            "chatUrl": "url"
                                        },
                                        "tags": [
                                            1,
                                            2,
                                            3
                                        ],
                                        "graphql": "null||url",
                                        "swagger": "null||url",
                                        "request_protocol": "B2B",
                                        "release_notes": "תוכן של מה חדש",
                                        "views": 3,
                                        "load_rate": 2000,
                                        "files": {
                                            "category": "file||img||video",
                                            "display_name": "שם הקובץ",
                                            "id": 123,
                                            "path": "hash",
                                            "fileDescription": "זה קובץ"
                                        },
                                        "reviews": {
                                            "apiID": 111,
                                            "content": "תוכן הביקורת",
                                            "date": "תאריך",
                                            "first_name": "שם פרטי",
                                            "id": 12,
                                            "last_name": "שם משפחה",
                                            "rate": 5,
                                            "userId": "xxxxxxxxx"
                                        },
                                        "guide_steps": [
                                            {
                                                "stepTitle": "סטייג'",
                                                "content": "תוכן",
                                                "picture": "hash של תמונה"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        "description": "got projects"
                    }
                }
            },
            "delete": {
                "parameters": [
                    {
                        "name": "id",
                        "description": "the id of the project",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "description": "removes specific project",
                "responses": {
                    "200": {
                        "description": "project deleted"
                    }
                }
            },
            "put": {
                "description": "Updates api docs on specific project.",
                "parameters": [
                    {
                        "name": "id",
                        "description": "the id of the project",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "Api Parameters",
                        "description": "the parameters in the body of the request.",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "arm": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "img": {
                                    "type": "string"
                                },
                                "contacts": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "name": {
                                    "type": "string"
                                },
                                "permission": {
                                    "type": "boolean"
                                },
                                "id": {
                                    "type": "integer"
                                },
                                "tags": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "example": {
                                "id": 1,
                                "arm": "זרוע המקצוענים",
                                "name": "שם הפרויקט",
                                "img": "site/api/object-storage/id/pic.png",
                                "description": "מידע על הפרויקט ",
                                "contacts": [
                                    {
                                        "first_name": "שם פרטי",
                                        "id": "k943787263",
                                        "last_name": "שם משפחה",
                                        "email": "something@something.com",
                                        "chatUrl": "url"
                                    }
                                ],
                                "permission": false,
                                "tags": [
                                    1,
                                    2,
                                    3
                                ],
                                "graphql": "null||url",
                                "swagger": "null||url",
                                "services": [
                                    {
                                        "name": "שם שירות",
                                        "last_updated": "string",
                                        "serviceImg": "site/api/object-storage/serviceId/pic.png",
                                        "serviceId": 1,
                                        "description": "מידע על הסרביס ",
                                        "contacts": {
                                            "devTeam": {
                                                "militaryPhone": "0522236663",
                                                "civilainPhone": "0522236663"
                                            },
                                            "warRoomTeam": {
                                                "militaryPhone": "0522236663",
                                                "civilainPhone": "0522236663"
                                            },
                                            "serviceSupervisor": {
                                                "serviceSupervisorRole": "מנהל מוצר",
                                                "id": "t2364616",
                                                "phone": "0522236663"
                                            },
                                            "chatUrl": "url"
                                        },
                                        "tags": [
                                            1,
                                            2,
                                            3
                                        ],
                                        "graphql": "null||url",
                                        "swagger": "null||url",
                                        "request_protocol": "B2B",
                                        "release_notes": "תוכן של מה חדש",
                                        "views": 3,
                                        "load_rate": 2000,
                                        "files": {
                                            "category": "file||img||video",
                                            "display_name": "שם הקובץ",
                                            "id": 123,
                                            "path": "hash",
                                            "fileDescription": "זה קובץ"
                                        },
                                        "reviews": {
                                            "apiID": 111,
                                            "content": "תוכן הביקורת",
                                            "date": "תאריך",
                                            "first_name": "שם פרטי",
                                            "id": 12,
                                            "last_name": "שם משפחה",
                                            "rate": 5,
                                            "userId": "xxxxxxxxx"
                                        },
                                        "guide_steps": [
                                            {
                                                "stepTitle": "סטייג'",
                                                "content": "תוכן",
                                                "picture": "hash של תמונה"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        "description": "API docs successfully updated."
                    }
                }
            }
        },
        "/services": {
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "example": [
                                {
                                    "name": "שם שירות",
                                    "last_updated": "string",
                                    "img": "דרך לתמונה",
                                    "id": 1,
                                    "description": "מידע על הסרביס ",
                                    "tags": [
                                        1,
                                        2,
                                        3
                                    ],
                                    "graphql": "null||url",
                                    "swagger": "null||url",
                                    "request_protocol": "B2B",
                                    "views": 3
                                }
                            ]
                        },
                        "description": "get all services"
                    }
                }
            },
            "post": {
                "description": "creates service .",
                "parameters": [
                    {
                        "name": "Api Parameters",
                        "description": "the parameters in the body of the request.",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "last_updated": {
                                    "type": "string"
                                },
                                "serviceImg": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "contacts": {
                                    "type": "object",
                                    "properties": {
                                        "devTeam": {
                                            "type": "object",
                                            "properties": {
                                                "militaryPhone": {
                                                    "type": "integer"
                                                },
                                                "civilainPhone": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "warRoomTeam": {
                                            "type": "object",
                                            "properties": {
                                                "militaryPhone": {
                                                    "type": "integer"
                                                },
                                                "civilainPhone": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "serviceSupervisor": {
                                            "type": "object",
                                            "properties": {
                                                "serviceSupervisorRole": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "chatUrl": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "tags": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer"
                                    }
                                },
                                "graphql": {
                                    "type": "string"
                                },
                                "swagger": {
                                    "type": "string"
                                },
                                "request_protocol": {
                                    "type": "string"
                                },
                                "release_notes": {
                                    "type": "string"
                                },
                                "views": {
                                    "type": "integer"
                                },
                                "load_rate": {
                                    "type": "integer"
                                },
                                "files": {
                                    "type": "object",
                                    "properties": {
                                        "category": {
                                            "type": "string"
                                        },
                                        "display_name": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "path": {
                                            "type": "string"
                                        },
                                        "fileDescription": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "example": {
                                "name": "שם שירות",
                                "last_updated": "string",
                                "serviceImg": "דרך לתמונה",
                                "serviceId": 1,
                                "description": "מידע על הסרביס ",
                                "contacts": {
                                    "devTeam": {
                                        "militaryPhone": "0522236663",
                                        "civilainPhone": "0522236663"
                                    },
                                    "warRoomTeam": {
                                        "militaryPhone": "0522236663",
                                        "civilainPhone": "0522236663"
                                    },
                                    "serviceSupervisor": {
                                        "serviceSupervisorRole": "מנהל מוצר",
                                        "id": "t2364616",
                                        "phone": "0522236663"
                                    },
                                    "chatUrl": "url"
                                },
                                "tags": [
                                    1,
                                    2,
                                    3
                                ],
                                "graphql": "null||url",
                                "swagger": "null||url",
                                "request_protocol": "B2B",
                                "release_notes": "תוכן של מה חדש",
                                "views": 3,
                                "load_rate": 2000,
                                "files": {
                                    "category": "file||img||video",
                                    "display_name": "שם הקובץ",
                                    "id": 123,
                                    "path": "hash",
                                    "fileDescription": "זה קובץ"
                                },
                                "reviews": [
                                    {
                                        "apiID": 111,
                                        "content": "תוכן הביקורת",
                                        "date": "תאריך",
                                        "first_name": "שם פרטי",
                                        "id": 12,
                                        "last_name": "שם משפחה",
                                        "rate": 5,
                                        "userId": "xxxxxxxxx"
                                    }
                                ],
                                "guide_steps": [
                                    {
                                        "stepTitle": "סטייג'",
                                        "content": "תוכן",
                                        "picture": "hash של תמונה"
                                    }
                                ]
                            }
                        },
                        "description": "API docs successfully updated."
                    }
                }
            }
        },
        "/services/:id": {
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "example": {
                                "name": "שם שירות",
                                "last_updated": "string",
                                "serviceImg": "דרך לתמונה",
                                "serviceId": 1,
                                "description": "מידע על הסרביס ",
                                "contacts": {
                                    "devTeam": {
                                        "militaryPhone": "0522236663",
                                        "civilainPhone": "0522236663"
                                    },
                                    "warRoomTeam": {
                                        "militaryPhone": "0522236663",
                                        "civilainPhone": "0522236663"
                                    },
                                    "serviceSupervisor": {
                                        "serviceSupervisorRole": "מנהל מוצר",
                                        "id": "t2364616",
                                        "phone": "0522236663"
                                    },
                                    "chatUrl": "url"
                                },
                                "tags": [
                                    1,
                                    2,
                                    3
                                ],
                                "graphql": "null||url",
                                "swagger": "null||url",
                                "request_protocol": "B2B",
                                "release_notes": "תוכן של מה חדש",
                                "views": 3,
                                "load_rate": 2000,
                                "files": {
                                    "category": "file||img||video",
                                    "display_name": "שם הקובץ",
                                    "id": 123,
                                    "path": "hash",
                                    "fileDescription": "זה קובץ"
                                },
                                "reviews": [
                                    {
                                        "apiID": 111,
                                        "content": "תוכן הביקורת",
                                        "date": "תאריך",
                                        "first_name": "שם פרטי",
                                        "id": 12,
                                        "last_name": "שם משפחה",
                                        "rate": 5,
                                        "userId": "xxxxxxxxx"
                                    }
                                ],
                                "guide_steps": [
                                    {
                                        "stepTitle": "סטייג'",
                                        "content": "תוכן",
                                        "picture": "hash של תמונה"
                                    }
                                ]
                            }
                        },
                        "description": "get service"
                    }
                }
            },
            "delete": {
                "parameters": [
                    {
                        "name": "serviceId",
                        "description": "the id of the service",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "description": "removes specific service",
                "responses": {
                    "200": {
                        "description": "service deleted"
                    }
                }
            },
            "put": {
                "description": "Updates api docs on specific service.",
                "parameters": [
                    {
                        "name": "serviceId",
                        "description": "the id of the service",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "Api Parameters",
                        "description": "the parameters in the body of the request.",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "last_updated": {
                                    "type": "string"
                                },
                                "serviceImg": {
                                    "type": "string"
                                },
                                "serviceId": {
                                    "type": "integer"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "contacts": {
                                    "type": "object",
                                    "properties": {
                                        "devTeam": {
                                            "type": "object",
                                            "properties": {
                                                "militaryPhone": {
                                                    "type": "integer"
                                                },
                                                "civilainPhone": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "warRoomTeam": {
                                            "type": "object",
                                            "properties": {
                                                "militaryPhone": {
                                                    "type": "integer"
                                                },
                                                "civilainPhone": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "serviceSupervisor": {
                                            "type": "object",
                                            "properties": {
                                                "serviceSupervisorRole": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "chatUrl": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "tags": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer"
                                    }
                                },
                                "graphql": {
                                    "type": "string"
                                },
                                "swagger": {
                                    "type": "string"
                                },
                                "request_protocol": {
                                    "type": "string"
                                },
                                "release_notes": {
                                    "type": "string"
                                },
                                "views": {
                                    "type": "integer"
                                },
                                "load_rate": {
                                    "type": "integer"
                                },
                                "files": {
                                    "type": "object",
                                    "properties": {
                                        "category": {
                                            "type": "string"
                                        },
                                        "display_name": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "path": {
                                            "type": "string"
                                        },
                                        "fileDescription": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "example": {
                                "name": "שם שירות",
                                "last_updated": "string",
                                "serviceImg": "דרך לתמונה",
                                "serviceId": 1,
                                "description": "מידע על הסרביס ",
                                "contacts": {
                                    "devTeam": {
                                        "militaryPhone": "0522236663",
                                        "civilainPhone": "0522236663"
                                    },
                                    "warRoomTeam": {
                                        "militaryPhone": "0522236663",
                                        "civilainPhone": "0522236663"
                                    },
                                    "serviceSupervisor": {
                                        "serviceSupervisorRole": "מנהל מוצר",
                                        "id": "t2364616",
                                        "phone": "0522236663"
                                    },
                                    "chatUrl": "url"
                                },
                                "tags": [
                                    1,
                                    2,
                                    3
                                ],
                                "graphql": "null||url",
                                "swagger": "null||url",
                                "request_protocol": "B2B",
                                "release_notes": "תוכן של מה חדש",
                                "views": 3,
                                "load_rate": 2000,
                                "files": {
                                    "category": "file||img||video",
                                    "display_name": "שם הקובץ",
                                    "id": 123,
                                    "path": "hash",
                                    "fileDescription": "זה קובץ"
                                },
                                "reviews": [
                                    {
                                        "apiID": 111,
                                        "content": "תוכן הביקורת",
                                        "date": "תאריך",
                                        "first_name": "שם פרטי",
                                        "id": 12,
                                        "last_name": "שם משפחה",
                                        "rate": 5,
                                        "userId": "xxxxxxxxx"
                                    }
                                ],
                                "guide_steps": [
                                    {
                                        "stepTitle": "סטייג'",
                                        "content": "תוכן",
                                        "picture": "hash של תמונה"
                                    }
                                ]
                            }
                        },
                        "description": "API docs successfully updated."
                    }
                }
            }
        },
        "/subscription/validate": {
            "post": {
                "description": "validates a subscription to current service.",
                "parameters": [
                    {
                        "name": "serviceId",
                        "description": "the id of the service",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "Api Parameters",
                        "description": "the parameters in the body of the request.",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "serviceId": {
                                    "type": "integer"
                                },
                                "userid": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "example": {
                                "isSubscribed": true
                            }
                        },
                        "description": "it is validated and subscribed"
                    }
                }
            }
        },
        "/subscription/register": {
            "post": {
                "description": "registers a subscriber to the service .",
                "parameters": [
                    {
                        "name": "Api Parameters",
                        "description": "the parameters in the body of the request.",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "userId": {
                                    "type": "integer"
                                },
                                "serviceId": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": " subscribed to service."
                    },
                    "500": {
                        "description": " couldn't register to service."
                    }
                }
            }
        },
        "/files/upload": {
            "post": {
                "parameters": [
                    {
                        "name": "Api Parameters",
                        "description": "the parameters in the body of the request the docs should be binary.",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "docs": {
                                    "type": "string",
                                    "description": "should be binary"
                                },
                                "type": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "description": "stores files in s3 and returns the hash of the file",
                "responses": {
                    "200": {
                        "description": "path to s3 image by hash",
                        "schema": {
                            "example": {
                                "img": "dkajgfhjbargf893y48273",
                                "files": [
                                    {
                                        "fieldname": "docs",
                                        "originalname": "pic.png",
                                        "encoding": "7bit",
                                        "mimetype": "image/png",
                                        "hash": "dkajgfhjbargf893y48273"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/files/:id": {
            "get": {
                "parameters": [
                    {
                        "name": "hash",
                        "description": "the file hash",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "description": "gets the file from s3",
                "responses": {
                    "200": {
                        "description": "gets file",
                        "schema": {
                            "example": {
                                "fieldname": "docs",
                                "originalname": "pic.png",
                                "encoding": "7bit",
                                "mimetype": "image/png",
                                "hash": "dkajgfhjbargf893y48273"
                            }
                        }
                    }
                }
            }
        },
        "/user": {
            "post": {
                "parameters": [
                    {
                        "name": "Api Parameters",
                        "description": "the parameters in the body of the request.",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "userId": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "description": "gets user name from id",
                "responses": {
                    "200": {
                        "description": "gets the user data from id",
                        "schema": {
                            "example": {
                                "name": "string"
                            }
                        }
                    }
                }
            }
        },
        "/review": {
            "delete": {
                "parameters": [
                    {
                        "name": "reviewId",
                        "description": "the id of the review",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "description": "removes specific review",
                "responses": {
                    "200": {
                        "description": "review deleted"
                    }
                }
            },
            "put": {
                "description": "updates review .",
                "parameters": [
                    {
                        "name": "Api Parameters",
                        "description": "the parameters in the body of the request.",
                        "in": "body",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "serviceid": {
                                        "type": "integer"
                                    },
                                    "date": {
                                        "type": "string"
                                    },
                                    "content": {
                                        "type": "string"
                                    },
                                    "rate": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "example": {
                                "serviceid": 3,
                                "date": "תאריך",
                                "content": "תוכן הביקורת",
                                "rate": 5
                            }
                        },
                        "description": "API docs successfully created."
                    }
                }
            },
            "post": {
                "description": "creates review .",
                "parameters": [
                    {
                        "name": "Api Parameters",
                        "description": "the parameters in the body of the request.",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "serviceid": {
                                    "type": "integer"
                                },
                                "date": {
                                    "type": "string"
                                },
                                "content": {
                                    "type": "string"
                                },
                                "rate": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "example": {
                                "serviceid": 3,
                                "date": "תאריך",
                                "content": "תוכן הביקורת",
                                "rate": 5
                            }
                        },
                        "description": "API docs successfully created."
                    }
                }
            }
        },
        "/tags": {
            "get": {
                "parameters": [],
                "description": "gets the tags from server",
                "responses": {
                    "200": {
                        "description": "tags array",
                        "schema": {
                            "example": [
                                {
                                    "id": 1,
                                    "value": "מידע"
                                },
                                {
                                    "id": 2,
                                    "value": "מאגרים"
                                },
                                {
                                    "id": 3,
                                    "value": "מזג אוויר"
                                },
                                {
                                    "id": 4,
                                    "value": "הזדהות"
                                },
                                {
                                    "id": 5,
                                    "value": "חישובים"
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/arms": {
            "get": {
                "parameters": [],
                "description": "gets the arms from the server",
                "responses": {
                    "200": {
                        "description": "arms array",
                        "schema": {
                            "example": [
                                {
                                    "id": 1,
                                    "value": "אמ\"ן"
                                },
                                {
                                    "id": 2,
                                    "value": "חה\"א"
                                },
                                {
                                    "id": 3,
                                    "value": "חה\"י"
                                },
                                {
                                    "id": 4,
                                    "value": "חט\"ל"
                                },
                                {
                                    "id": 5,
                                    "value": "תקשוב"
                                },
                                {
                                    "id": 6,
                                    "value": "זרוע היבשה"
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/auth": {
            "get": {
                "parameters": [],
                "description": "gets the user data from the server",
                "responses": {
                    "200": {
                        "description": "arms array",
                        "schema": {
                            "example": {
                                "first_name":"שם פרטי",
                                "last_name":"שם משפחה",
                                "id":"k943787263"

                            }
                        }
                    }
                }
            }
        }
    }
}